body{
    font-size: xx-large;
}
h1{
    font-family:'Times New Roman', Times, serif
}
h2{
    font-family:'Courier New', Courier, monospace;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
